<div class="footer">
  <div class="footer-text">
    <h2>DailyCat</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
   "</p>
   <div class="footer-social">
    <ul>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter"></i></li>
    </ul>
   </div>
</div>
