<div class="footer">
  <div class="footer-text">
    <h2>DailyCat</h2>
    <p>Dailycat, c’est la solution pour tous les chats qui ne peuvent pas compter
     sur leur maître. Un arbre à chat à changer ? Une litière de mauvaise qualité ?
      Tout cha ch’est fini ! Sur Dailycat, vendez, achetez et rentabilisez vos
       croquettes avec les autres minous du quartier.</p>
   <div class="footer-social">
    <ul>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter"></i></li>
    </ul>
   </div>
</div>
