.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 0px;
  margin-bottom: 100px;
}

#titre {
 font-size: 30px;
 font-weight: bold;
text-align: center;
 margin-top: 20px;
}


#header{
   height:3px;
   width:450px;
   background-color:rgb(97, 88, 88);
   margin-left: 40px ;
   margin-bottom: 10px;
   border-radius: 5px;
}


.carousel-item img {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
width: 100%;
height: 300px;
padding-left: 3px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
}

#product {
  width: 100%;
  height: 810px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #6b6a6a5d;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.display-title ol {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  margin: 0 auto;
}

.display-title ol p {
    margin: 0 auto;
    padding: 0 auto;
    margin-bottom: 10px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}
.vendeur-notif {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  background: white;
  padding: 2px 25px;
}

#bouton {
  width: 300px;
  align-content: center;
  margin: 0 auto;
  padding-top: 30px;
}

.vendeur-notif .vendeur-content {
  flex-grow: 1;
  padding: 0 24px;
}

.vendeur-notif p {
  margin: 0;
  line-height: 3;
}

.price {
 font-size: 20px;
 font-weight: bold;
 padding-right: 30px;

}

.time {
  color: grey;
  font-size: 15px;
  padding-right: 30px;
}

.display-description .btn {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.display-description {
  margin-left: 20px;
  margin-right: 20px;
}

.description {
 font-size: 18px;
 font-weight: bold;
}

.vendor {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #6b6a6a5d;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.div-map{
  width: 100%;
  height: 500px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #6b6a6a5d;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


#content {
    margin: 0 auto;
    align-content: center;
}
