.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 0px;
  margin-bottom: 100px;
}

#titre {
 font-size: 30px;
 font-weight: bold;
text-align: center;
 margin-top: 20px;
}


#header{
   height:3px;
   width:450px;
   background-color:rgb(97, 88, 88);
   margin-left: 20px ;
   margin-bottom: 10px;
   border-radius: 5px;
}


.carousel-item img {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
width: 100%;
height: 300px;
padding-left: 3px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
}

#product {
  width: 100%;
  height: 810px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #6b6a6a5d;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.display-title ol {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  margin: 0 auto;
}

.display-title ol p {
    margin: 0 auto;
    padding: 0 auto;
    margin-bottom: 10px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}
.vendeur-notif {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  background: white;
  padding: 2px 25px;
}

#bouton {
  width: 300px;
  align-content: center;
  margin: 0 auto;
  padding-top: 30px;
}
#bouton_vendeur .btn  {
  width: 500px;
  align-content: center;
  margin-top: 20px;
  margin-left: 50px;
  height: 50px;
  align-content: center;
  color: white;
  background-color: rgb(160, 39, 126);
  border: 1px;

}

.vendeur-notif .vendeur-content {
  flex-grow: 1;
  padding: 0 24px;
}

.vendeur-notif p {
  margin: 0;
  line-height: 3;
}

.price {
 font-size: 20px;
 font-weight: bold;
 padding-right: 30px;

}

.time {
  color: grey;
  font-size: 15px;
  padding-right: 30px;
}

.display-description .btn {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
}

.display-description .blue_btn {
    color: white;
}
.display-description {
  margin-left: 20px;
  margin-right: 20px;
}

.description {
 font-size: 18px;
 font-weight: bold;
}

.vendor {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #6b6a6a5d;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #6b6a6a5d;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#map_2 {
width: 100%;
  height: 400px;
  margin-top: 50px;
}

#map_bouton_1 .btn {
  width: 600px;
  height: 100px;
  margin-top: 20px;
  border-radius: 20px;
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 3px;
  border-color: red;
  box-shadow: 0 0 15px rgba(168, 9, 70, 0.2);
}
#map_bouton_2 .btn {
  width: 600px;
  height: 100px;
  margin-top: 20px;
  border-radius: 20px;
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
  color: white;
  font-size: 20px;
  border: 3px;
  border-color: red;
  box-shadow: 0 0 15px rgba(170, 11, 11, 0.664);
}

#map_bouton_2 .btn:hover {
  font-size: 22px;
  background-image: rgb(214, 86, 146)
}

#map_bouton_1 .btn:hover {
  font-size: 22px;
  background-image: rgb(214, 86, 146)

}


#content {
    margin: 0 auto;
    align-content: center;
}

.avatar-large{
  width: 60px;
  height: 50px;
}
